@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    background-color:rgba(0, 0, 0, 0.712);
}
.center{
    background-color: rgb(243, 235, 235);
    border-radius: 5px;
    height: 600px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
    overflow: hidden;
}
.left{
    font-family: 'Lora';
    margin-left: 20px;
    padding: 1px 40px;
    height: 600px;
    width: 450px;
    float: left;
}
.right{
    background-color: rgb(147, 211, 157);
    text-align: center;
    height: 600px;
    width: 400px;
    overflow: hidden;
    float: right;
    color: black;
}
h1{
    font-family: 'Pacifico', cursive;
    color: rgb(56, 54, 54);
    text-align: center;
    margin-top: 20px;
}
p{
    text-align: center;
}
img#birds{
    padding-top: 200px;
    width: 360px;
    height: auto;
}
span#passMatch{
    color: red;
}

div.create-account{
    margin-left: 40px;
}
button#sign-up{
    background-color: rgb(131, 128, 128);
    padding: 10px 50px;
    border-radius: 40px;
}


  




